*{
    box-sizing: border-box;
}

body{
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
}

.screen-1{
    /* font-family: 'Recursive', sans-serif; */  
    background-color: rgb(94, 94, 48);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen-1 .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-1 .logo img{
    width: 55px;
    height: 65px;

}

.screen-1 h1{
    font-family: 'Righteous';
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    }

.screen-1 button{
    margin-top: 100px;
    font-family: 'Recursive', sans-serif;
    width: 141px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
}

/* Screen 2 */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0px;
    background-color: aqua;

}

header img{
    width: 26px;
    height: 30px;
    margin-right: 10px;
}

header h1{
    font-family: 'Righteous';
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}






.hidden{
    display: none;
}