:root {
    --main-background-color: #FB6B6B;
    --correct-answer: #2FBE34;
    --correct-answer-2: #FF922E;
    --wron-answer: #FF3030;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--main-background-color);
    font-family: 'Recursive', sans-serif;
}

.screen-1{
    /* font-family: 'Recursive', sans-serif; */  
    /* background-color: rgb(94, 94, 48); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen-1 .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-1 .logo img{
    width: 55px;
    height: 65px;

}

.screen-1 h1{
    font-family: 'Righteous';
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    }

.screen-1 button{
    margin-top: 100px;
    font-family: 'Recursive', sans-serif;
    width: 141px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
}

/* Screen 2 */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0px;
    background-color: aqua;

}

header img{
    width: 26px;
    height: 30px;
    margin-right: 10px;
}

header h1{
    font-family: 'Righteous';
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

main{

}

main ul{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main li{
    margin: 3px 0px;
    width: 182px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

main li ion-icon{
    font-size: 22px;
}

footer{
    padding: 16px 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .zap-finished{
    display: flex;
    margin-bottom: 10px;
}

footer .zap-finished img{
    margin-right: 10px;
}

footer .zap-status{
    padding: 0px 150px;
    text-align: center;
    margin-bottom: 10px;
}

footer .answers-icons{
    font-size: 20px;
    color: red;
}

.hidden{
    display: none;
}