:root {
    --main-background-color: #FB6B6B;
    --correct-answer: #2FBE34;
    --correct-answer-2: #FF922E;
    --wrong-answer: #FF3030;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--main-background-color);
    font-family: 'Recursive', sans-serif;
}

.screen-1{
    /* font-family: 'Recursive', sans-serif; */  
    /* background-color: rgb(94, 94, 48); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen-1 .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-1 .logo img{
    width: 136px;
    height: 151px;

}

.screen-1 h1{
    font-family: 'Righteous';
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 20px;
    }

.screen-1 button{
    margin-top: 100px;
    font-family: 'Recursive', sans-serif;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
    font-size: 18px;
}

/* Screen 2 */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0px;
    /* background-color: aqua; */
    background-color: var(--main-background-color);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

header img{
    width: 52px;
    height: 60px;
    margin-right: 25px;
}

header h1{
    font-family: 'Righteous';
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

main{
    margin-top: 150px;
    margin-bottom: 180px;
}

main .flashcards{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .flashcard.name{
    margin: 13px 0px;
    width: 300px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

main .flashcard.name ion-icon{
    font-size: 29px;
}

main .flashcard.question{
    margin: 23px 0px;
    width: 299px;
    height: 131px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 20px 5px 20px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    position: relative;
}

main .flashcard.question img{
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

main .flashcard.answer{
    margin: 23px 0px;
    width: 299px;
    /* height: 131px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding: 18px 20px 5px 20px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

main .flashcard.answer div{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

main .flashcard.answer button{
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
    width: 80px;
    height: 37px;
}

main .flashcard.answer button:first-child{
    background-color: var(--wrong-answer);
}

main .flashcard.answer button:nth-child(2){
    background-color: var(--correct-answer-2);
}

main .flashcard.answer button:last-child{
    background-color: var(--correct-answer);
}

main .flashcard.name.zap{
    color: var(--correct-answer);
    font-style: italic;
    text-decoration: line-through;
}

main .flashcard.name.notZap{
    color: var(--correct-answer-2);
    font-style: italic;
    text-decoration: line-through;
}

main .flashcard.name.notRight{
    font-style: italic;
    text-decoration: line-through;
    color: var(--wrong-answer);
}

footer{
    padding: 16px 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

footer .zap-finished{
    display: flex;
    margin-bottom: 10px;
}

footer .zap-finished img{
    margin-right: 20px;
    width: 23px;
    height: 23px;
}

footer .zap-finished p{
    font-weight: bold;
}

footer .zap-finish-text{
    padding: 0px 130px;
    text-align: center;
    margin-bottom: 10px;
}

footer .zap-status{
    
}

footer .answers-icons{
    font-size: 25px;
}

ion-icon[name="checkmark-circle"]{
    color: var(--correct-answer);
}

ion-icon[name="help-circle"]{
    color: var(--correct-answer-2);
}


ion-icon[name="close-circle"]{
    color: var(--wrong-answer);
}

@media (max-width: 500px){
    main{
        margin-bottom: 220px;
    }
}

@media (min-width: 1400px){
    main{
        /* margin-bottom: 220px; */
        margin-top: 200px;
    }

    header img{
        width: 85px;
        height: 100px;
        margin-right: 35px;
    }
    
    header h1{
        font-size: 64px;
        line-height: 79px;
    }

    main .flashcard.name{  
        width: 560px;
        height: 90px;
        padding: 10px 30px;
        font-size: 24px;
        line-height: 29px;
    }

    main .flashcard.name ion-icon{
        font-size: 45px;
    }

    main .flashcard.question{
        width: 560px;
        height: 131px;
        font-size: 26px;
        line-height: 33px;
    }

    main .flashcard.question img{
        width: 40px;
        height: 25px;
    }

    main .flashcard.answer{
        width: 560px;
        font-size: 26px;
        line-height: 33px;
    }
    
    main .flashcard.answer button{
        margin-bottom: 10px;
        font-size: 16px;
        width: 160px;
        height: 50px;
    }
}